@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Inter', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 1rem;
		background-color: #0B0B0F;
		color: #fff;
		overflow-x: hidden;
	}
	
	/*body, main {
    overflow-x: hidden; 
	}*/

	[type='text']:focus,
	[type='email']:focus,
	[type='url']:focus,
	[type='password']:focus,
	[type='number']:focus,
	[type='date']:focus,
	[type='datetime-local']:focus,
	[type='month']:focus,
	[type='search']:focus,
	[type='tel']:focus,
	[type='time']:focus,
	[type='week']:focus,
	[multiple]:focus,
	textarea:focus,
	select:focus {
		outline: 0px !important;
		outline-offset: 0px !important;
		box-shadow: none !important;
	}
}

.scroll-bar-x::-webkit-scrollbar-track {
	background: #383839;
}

::-webkit-scrollbar {
	width: 0.9375rem;
	height: 0.9375rem;
}

::-webkit-scrollbar-track {
	background: #383839;
}

::-webkit-scrollbar-thumb {
	background: #933FFE;
	border-radius: 100vh;
	-webkit-border-radius: 100vh;
	-moz-border-radius: 100vh;
	-ms-border-radius: 100vh;
	-o-border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
	opacity: 0.8;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}


.bounce-enter-active {
	animation: bounce-in 0.5s;
}

.bounce-leave-active {
	animation: bounce-in 0.5s reverse;
}

@keyframes bounce-in {
	0% {
		transform: scale(0);
	}

	50% {
		transform: scale(1.25);
	}

	100% {
		transform: scale(1);
	}
}

.show-enter-active {
	animation: show-in 0.5s;
}

.show-leave-active {
	animation: show-in 0.5s reverse;
}

@keyframes show-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.cubic-enter-active {
	animation: cubic 0.5s;
	-webkit-animation: cubic 0.5s;
}

.cubic-leave-active {
	animation: cubic 0.5s reverse;
	-webkit-animation: cubic 0.5s reverse;
}

@keyframes cubic {
	0% {
		transform: translate(0);
		-webkit-transform: translate(0);
		-moz-transform: translate(0);
		-ms-transform: translate(0);
		-o-transform: translate(0);
	}

	100% {
		transform: translate(-100%);
		-webkit-transform: translate(-100%);
		-moz-transform: translate(-100%);
		-ms-transform: translate(-100%);
		-o-transform: translate(-100%);
	}
}

.text-nowrap-line {
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 2.4em;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

/*remove arrow for input type number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/*add effect transition*/
.v-enter-active,
.v-leave-active {
	transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}

/*swiper slider dots*/
.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: #4EF1C9;
}

.swiper-pagination-bullet {
	background-color: #798196;
}

/*swiper arrow
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
	content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='24' width='24'> <path d='M11.293 4.70697L17.586 11H4V13H17.586L11.293 19.293L12.707 20.707L21.414 12L12.707 3.29297L11.293 4.70697Z' fill='%234EF1C9'/></svg>");
}
*/

.input {
  border: 0.125rem solid transparent;
  background-image: 		
	linear-gradient(#0B0B0F, #0B0B0F), 								
	linear-gradient(to bottom, #18C8FF 14.89%, #933FFE 85.85%);
  border-radius: 0.625rem;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 0.625rem;
  -moz-border-radius: 0.625rem;
  -ms-border-radius: 0.625rem;
  -o-border-radius: 0.625rem;
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
	box-shadow: inset 0rem 0rem 1.875rem rgba(255, 255, 255, 0.05), inset 0rem 0.125rem 0.125rem rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(1.25rem);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}